@import url('https://fonts.googleapis.com/css2?family=Kadwa:wght@400;700&display=swap');

.kadwa-regular {
  font-family: "Kadwa", serif;
  font-weight: 400;
  font-style: normal;
}

.kadwa-bold {
  font-family: "Kadwa", serif;
  font-weight: 700;
  font-style: normal;
}

.footer{
    width: 100%;
    height: 503px;
    background-color: #1A1A2E;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Kadwa';
    font-style: bold;
    font-weight: 600;
}

.footerContainer {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.footerContainerRight{
    margin-top: 70px;
}

.footerLogo{
    max-width: 100%;
    margin-bottom: 20px;
}

.navLinks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navLinks div{
    margin-top: 27px;
}

.navLinks h3{
    color: #3FBD5C;
    font-size: 15px;
}

.navLinks a{
    text-decoration: none;
    color: #C0C0C0;
    font-size: 15px;
}

.navLinks a:hover{
    text-decoration: none;
}

.footerLinksCreate a{
    color: #3FBD5C;
}

.mediaInfo {
    display: flex;
    margin-bottom: 20px;
}

.contactInfo{
    color: #C0C0C0;
    display: flex;
    margin-bottom: 20px;
}

.footerContainerLeft h2{
    color: #3FBD5C;
    font-size: 15px;
    margin-bottom: 20px;
}

.contactInfo div{
    display: flex;
    flex-direction: column;
}

.contactInfo div h3{
    margin-right: 20px;
    font-size: 15px;
    margin-bottom: 10px;
}

.mediaInfo{
    color: #C0C0C0;
}

.mediaInfo div{
    margin-right: 20px;
    cursor: pointer;
}

.footerRights{
    margin-top: 20px;
    color: #C0C0C0;
    font-size: 10px;
}