@import url('https://fonts.googleapis.com/css2?family=Kadwa:wght@400;700&display=swap');

.kadwa-regular {
  font-family: "Kadwa", serif;
  font-weight: 400;
  font-style: normal;
}

.kadwa-bold {
  font-family: "Kadwa", serif;
  font-weight: 700;
  font-style: normal;
}

.header{
    background-color: #1A1A2E;
    height: 57px;
    display: flex;
    font-family: 'Kadwa';
    font-style: normal;
    font-weight: 600;
}

.headerContainer{
    display: flex;
    align-items: center;
    width: 100%;
}

.headerLogo img {
    margin-top: 7px;
    max-width: 100%;
    margin-right: 400px;
    margin-left: 20px;
}

.headerLinks{
    display: flex;
}

.headerLinks {
    display: flex;
}
  
.headerLinks a {
    color: #C0C0C0;
    text-decoration: none;
    font-size: 20px;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-right: 200px;
}
  
.headerLinks a:hover {
    text-decoration: none;
}

.activeLink a {
    color: #86f09fec;
}

.headerLanguage{
    margin-left: 300px;
}

.headerLanguage button{
    border-radius: 10px;
    background-color: #363655;
    width: 145px;
    height: 35px;
    border: none;
    color: #C0C0C0;
    font-family: 'Kadwa';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
}

.headerLinksCreate a{
    color: #3FBD5C;
}

.activeLinkCreate a{
    color: #FFD700;
}



