.createMain {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #F0F0F0;
}

.formContainer {
  background-color: #363655;
  border-radius: 8px;
  width: 30%;
  color: #c5b4ff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding-bottom: 30px;
}

.title {
  text-align: center;
  margin-bottom: 1rem;
  background-color: #1A1A2E;
  width: 100%;
  border-radius: 8px;
  font-family: 'Kadwa';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 96px;
  color: #8585D3;
}

.form {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content:space-between;
  padding-left: 50px;
  padding-right: 50px;
}

.field {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    background: #1A1A2E;
    border-radius: 5px;
}

.field2{
    display: flex;
    margin-top: 30px;
}

.field3{
    display: flex;
    margin-top: 30px;
}


.label {
    font-family: 'Kadwa';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    color: #C0C0C0;
}

.input {
    border: none;
    background: #1A1A2E;
    border-radius: 5px;
    font-family: 'Kadwa';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    color: #C0C0C0;
}

.input::placeholder,
.textarea::placeholder {
  color: #363655;
}

.customCheckbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
    width: 20px;
    height: 20px;
    background: #1A1A2E;
    border-radius: 5px;
    position: relative;
    margin-right: 8px;
    transition: background-color 0.2s;
}

.customCheckbox .checkbox:checked ~ .checkmark {
  background-color: #4CAF50;
}

.customCheckbox .checkbox:checked ~ .checkmark:after {
  content: "";
  position: absolute;
  left: 6px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.checkboxLabel a{
    color: #fff;
    font-family: 'Kadwa';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 30px;
}

.button {
  border: none;
  cursor: pointer;
  background: #3FBD5C;
  border-radius: 10px;
  margin-top: 30px;
  font-family: 'Kadwa';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
  width: 200px;
}


