.mainFolio{
    background-color: #F0F0F0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titleContainer{
    margin-top: 100px;
}

.titleContainer h1{
    font-family: 'Kadwa';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 96px;
    text-align: center;
    color: #1A1A2E;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.titleContainer div{
    background: #1A1A2E;
    border-radius: 5px;
    width: 415px;
    height: 43px;
}

.cardContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.card{
    background: #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: 45%;
    padding: 30px;
}

.card h1{
    font-family: 'Kadwa';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 48px;
    text-align: left;
    color: #1A1A2E;
}

.card h1 a{
    text-decoration: underline;
    color: black;
}

.descriptionContainer{
    display: flex;
    justify-content: space-between;
}

.descriptionContainer p{
    font-family: 'Kadwa';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    color: #363655;
}

@media (max-width: 1440px) {
  .mainFolio {
    padding: 20px;
  }

  .titleContainer {
    margin-top: 30px;
  }

  .titleContainer h1 {
    font-size: 28px;
    line-height: 56px;
  }

  .titleContainer div {
    width: 200px;
    height: 30px;
  }

  .cardContainer {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .card {
    width: 90%;
    padding: 15px;
  }

  .card h1 {
    text-align: center;
    font-size: 18px;
    line-height: 36px;
  }

  .descriptionContainer {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .descriptionContainer p {
    font-size: 16px;
    line-height: 30px;
    text-align: center;
  }

  .kangrun{
    width:250px;
    height: 150px;
  }
}
